.cardholder {
    margin-left: 78px;
    margin-right: 78px;
    border: solid green 2px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 30px
}

.padding {
    padding-bottom: 30px;
}