.App {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: lightblue;
}

/* body {
  margin: 0;
  padding: 0;
} */
/* =====NavBar start===== */
.Navbar {
  /* border: 2px solid green; */
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  background-color: #2F4050;
}

.navlink {
  display: flex;
  width: 100vw;
  color: rgb(213, 153, 153);
  text-align: center;
}
/* =====NavBar End===== */

/* Welcome page Start */
#welcome-container{
  display: flex;
  flex-direction: column;
}

#messagebtn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#welcomebtn-container{
  display: flex;
  flex-direction: row;
  width: 25vw;
  gap: 20px;
}

#welcome-login{
  background-color: rgb(40, 87, 132);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 75%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(107, 105, 105, 0.2);
}

#welcome-signup{
  background-color: rgb(40, 87, 132);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 75%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(107, 105, 105, 0.2);
}
/* Welcome page End */


/* =====Create Page start======= */
#create-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* margin-top: auto; */
}

#create-form{
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

#label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#create-btn{
  background-color: rgb(40, 87, 132);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 75%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(107, 105, 105, 0.2);
} 

#create-btn:hover {
  background-color: rgb(246, 239, 239);
  color: black;
}
/* =====Create Page end======= */

/*===== LOG IN PAGE start===== */
#login-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#login-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#login-form{
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid gold;
  background-color: #F9F7F7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

#login-register{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#login-btn{
  background-color: rgb(40, 87, 132);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(107, 105, 105, 0.2);
} 

#login-btn:hover {
  background-color: rgb(246, 239, 239);
  color: black;
}
/*===== LOG IN PAGE end =====*/

/* ===== REGISTER PAGE start ===== */
#register-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#register-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#register-form{
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid gold;
  background-color: #F9F7F7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

#register-rickroll{
  display: flex;
  justify-content: center;
}

#register-login{
  display: flex;
  justify-content: center;
}

#register-btn{
  background-color: rgb(40, 87, 132);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(107, 105, 105, 0.2);
} 

#register-btn:hover {
  background-color: rgb(246, 239, 239);
  color: black;
}
/* ===== REGISTER PAGE end ===== */